@typeparam T

@if (@Model is not null)
{
    <Form TModel="@T" Model="@Model">
        @foreach (var prop in @Model.GetType().GetProperties())
        {
            if (prop.PropertyType == typeof(string))
            {
                <Input TValue="string" Value="@((string) prop.GetValue(Model))" ValueChanged="@(val => prop.SetValue(Model, val))"></Input>
            }
            if (prop.CustomAttributes.Any)
                if (prop.PropertyType == typeof(int))
                {
                    <AntDesign.InputNumber TValue="int" Value="@((int) prop.GetValue(Model))" ValueChanged="@(val => prop.SetValue(Model, val))"></AntDesign.InputNumber>
                }
            <h4>@prop.Name</h4>
            <p>@prop.GetValue(Model)</p>
        }
    </Form>
}

@code
{
    [Parameter]
    public T Model { get; set; }

}
