@typeparam TMod where TMod : class, new()
@using System.ComponentModel.DataAnnotations
@typeparam TResult where TResult : class
@inject ILogger<ModalForm<TMod, TResult>> Logger
@inject MessageService Message
<Modal Visible="@_visible" Footer="@null" OnCancel="CloseModal">
    @if(Title != null)
    {
        <Title Level="2">@Title</Title>
    }
    @Header
    <Divider/>
    <Form @ref="@_form" Model="@Model" Loading="_loading" Class="p-4">
        @FormContent
    </Form>
    <Divider/>
    <Button Type="@ButtonType.Primary" OnClick="OnFinishForm" Block="true" HtmlType="submit">Submit</Button>
</Modal>

@code {

    [Parameter]
    public RenderFragment? FormContent { get; set; }

    [Parameter]
    public RenderFragment? Header { get; set; }

    [Parameter]
    public string? Title { get; set; }

    [Required]
    [Parameter]
    public TMod Model { get; set; } = new();

    [Parameter]
    public string MessageSuccess { get; set; } = "Sucess";

    [Parameter]
    public string MessageFail { get; set; } = "Fail";

    [Parameter]
    [Required]
    public Func<Task<TResult?>>? OnSubmit { get; set; }

    [Parameter]
    public EventCallback<TResult> OnFinish { get; set; }

    [Parameter]
    public EventCallback<TResult> OnFinishFailed { get; set; }

    private bool _visible = false;
    private bool _loading = false;
    private Form<TMod> _form = new();


    private async Task OnFinishForm() {
        var validationResult = _form.Validate();
        if (validationResult)
            _loading = true;
        else {
            return;
        }
        TResult? submitedModel = null;
        if (OnSubmit != null) {
            submitedModel = await OnSubmit();
        }
        if (submitedModel != null) {
            Model = new TMod();
            await OnFinish.InvokeAsync(submitedModel);
            Message.Success(
                MessageSuccess
                );
        } else {
            await OnFinishFailed.InvokeAsync(submitedModel);
            Message.Error(
                MessageFail
                );
        }
        _loading = false;
        CloseModal();
    }

    public void OpenModal() {
        _visible = true;
    }

    public void CloseModal() {
        _visible = false;
    }

}