@using PrackyASusarny.Data.ServiceInterfaces
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@inject ILocalizationService Loc

@{
    List<SelectListItem> cultures = Loc.AvailableCultures.Select(c => new SelectListItem {
        Value = c.Name,
        Text = c.DisplayName
    }).ToList();
    string defaultCulture = Loc.CurrentCulture.Name;
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}

<div>
    <form asp-action="SetCulture"
          asp-controller="Culture"
          asp-route-returnUrl="@returnUrl"
          class=""
          id="selectLanguage"
          method="post"
          role="form">
        <div class="align-items-center g-2 row">
            <div class="col-auto">
                <label asp-for="@defaultCulture" class="col-form-label">@($"{Loc["Language"]}: ")</label>
            </div>
            <div class="col-auto">
                <select asp-for="@defaultCulture" asp-items="@cultures" class="form-select form-select-sm" name="culture" onchange="this.form.submit()">
                </select>
            </div>
        </div>
    </form>
</div>