@page "/Pracky"
@using PrackyASusarny.Shared.Features.Grid
@using PrackyASusarny.Shared.Features.WMManagment
@inject WashingMachineService WashingMachineService;
<h3>Pracky</h3>
<div class="container-fluid">
    <div class="row justify-content-between">
        <div class="col-4">
            <SideOptions @bind-FloorRange="SelectedFloor" @bind-AllowedBuildings="SelectedBuildings" @bind-AllowedStates="SelectedStates" OnOptionChange="@UpdateWashingMachines"></SideOptions>
        </div>
        <div class="col">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Výrobce</th>
                    <th>Stav</th>
                    <th>Lokace</th>
                    <th>Manuál</th>
                </tr>
                </thead>
                <tbody>
                @{ var i = 0; }
                @foreach (var wm in _wms)
                {
                    <tr class="@GetRowClass(wm)">
                        <td>@(i++)</td>
                        <td>
                            @wm.Manufacturer
                        </td>
                        <td>
                            @wm.Status
                        </td>
                        <td>
                            @($"{wm.Location.Building} {wm.Location.Floor}/{wm.Location.RoomNum} - {wm.Location.DoorNum}")
                        </td>
                        <td>
                            <a href="@($"/Manuals/{wm.Manual.FileName}")">
                                <Icon Type="file" Theme="outline"/>
                            </a>
                        </td>
                        <td>
                            @if (wm.Status == Status.Free)
                            {
                                <BorrowFormModal WashingMachine="@wm" OnSuccess="@(_ => wm.Status = Status.Taken)"/>
                            }
                            else if (wm.Status == Status.Taken)
                            {
                                <BorrowRemoveModal WashingMachine="@wm" OnSuccess="@(_ => wm.Status = Status.Free)"/>
                            }
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    private List<WashingMachine> _wms = new List<WashingMachine>();
    // Must be double because of component
    private (int, int)? SelectedFloor { get; set; }
    private char[]? SelectedBuildings { get; set; }
    private Status[]? SelectedStates { get; set; }


    protected async override Task OnInitializedAsync()
    {
        await UpdateWashingMachines();
    }

    private async Task UpdateWashingMachines()
    {
        _wms = await WashingMachineService.GetFiltered(
            floorRange: SelectedFloor,
            allowedBuildings: SelectedBuildings,
            allowedStates: SelectedStates
            );
    }

    private string GetRowClass(WashingMachine wm)
    {
        switch (wm.Status)
        {
            case Status.Broken:
                return "table-danger";
            case Status.Free:
                return "table-success";
            case Status.Taken:
                return "table-warning";
        }
        return "";
    }

}