@using PrackyASusarny.Errors.Folder
@using PrackyASusarny.Features.BEManagment.Desc
@typeparam T where T : BorrowableEntity
@inject IBorrowService BorrowService
@inject ICrudService<T> CrudService
@inject MessageService Message
@inject ILocalizationService Loc


<Modal Visible="@_visibility" OnCancel="@CloseModal" Footer="@null">
    <Title Level="2">@Loc["End Borrow"]</Title>
    <Divider/>
    @if (_borrowableEntity != null && ShowBorrowableEntity) {
        <BEDescription T="T" BEntity="_borrowableEntity"/>
    }
    @if (_borrow is not null) {
        <BorrowDescription Borrow="@_borrow"/>
        <Divider/>
        <PriceBorrowCompute Borrow="@_borrow"/>
        <Divider/>
    } else {
        <Spin/>
    }
    <Button Type="@ButtonType.Primary" OnClick="EndBorrow" 
            Loading="_loading" Block="true" 
            HtmlType="submit">@Loc["Submit"]</Button>
</Modal>


@code {

    [Parameter]
    public Borrow? DefaultBorrow { get; set; }

    [Parameter]
    public bool ShowBorrowableEntity { get; set; } = true;

    [Parameter]
    public EventCallback<Borrow> OnSuccess { get; set; }

    private Borrow? _borrow;
    private T? _borrowableEntity;
    private bool _visibility = false;
    private bool _loading = false;


    public void OpenModal() {
        _loading = false;
        _visibility = true;
    }

    protected override async Task OnParametersSetAsync() {
        _loading = true;
        _borrow = DefaultBorrow;
        _borrowableEntity = _borrow?.BorrowableEntity as T;
        if (_borrow is not null) {
            if (ShowBorrowableEntity && _borrowableEntity == null) {
                _borrowableEntity = await CrudService.GetByIdAsync(_borrow.BorrowableEntityID);
            }
        }
        _loading = false;
        await base.OnParametersSetAsync();
    }

    private void CloseModal() {
        _loading = false;
        _visibility = false;
    }

    private async Task EndBorrow() {
        await OnSuccess.InvokeAsync(_borrow);
        if (_borrow is null) {
            Message.Error(Loc["No borrow selected"].ToString());
            return;
        }
        _loading = true;
        try {
            await BorrowService.EndBorrowAsync(_borrow);
            await OnSuccess.InvokeAsync(_borrow);
            Message.Success(Loc["Borrow ended"].ToString());
            CloseModal();
            return;
        }
        catch (DbException) {
            Message.Error(Loc["Failed to end borrow"].ToString());
        }
        _loading = false;
    }


}