@using PrackyASusarny.Data.ServiceInterfaces
@using PrackyASusarny.Areas.Manage.Pages.Account.Manage
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject ILocalizationService Loc
<ul class="flex-column nav nav-pills">
    <li class="nav-item">
        <a asp-page="/Account/Manage/Index" class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile">@Loc["Profile"]</a>
    </li>
    <li class="nav-item">
        <a asp-page="/Account/Manage/Email" class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email">@Loc["Email"]</a>
    </li>
    <li class="nav-item">
        <a asp-page="/Account/Manage/ChangePassword" class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password">@Loc["Password"]</a>
    </li>
    <li class="nav-item">
        <a asp-page="/Account/Manage/PersonalData" class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data">@Loc["Personal Data"]</a>
    </li>
</ul>