@using App.Features.Layout
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(BlazorApp).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView DefaultLayout="@typeof(MainLayout)" RouteData="@routeData">
                <NotAuthorized>
                    <NotAuthorizedView/>
                </NotAuthorized>
                <Authorizing>
                    <Spin/>
                </Authorizing>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
<AntContainer/>