@inject IReservationsService ReservationsService
@inject ILocalizationService Loc
@inject IMessageService MessageService
@inject IBorrowableEntityService BorrowableEntityService
@using System.ComponentModel.DataAnnotations
@using App.Data.Utils
@typeparam T where T : App.Data.Models.BorrowableEntity

<Form WrapperColSpan="16"
      Model="_reservationMixin" OnFinish="() => CreateReservationAsync(_reservationMixin)">
    <FormItem WrapperColSpan="12" Label="@Loc["Entity"]">
        <ModelSelect TItem="T" @bind-Value="@context.BE" OnChange=@ChangeDisabled AllowClear="@false"
                     DataSource="_nonBrokenEntities" CrudInitialize="@false">
        </ModelSelect>
    </FormItem>

    <FormItem WrapperColSpan="12" Label="@Loc["Date Ranges"]">
        <LocalDateTimeRange @bind-Value="@context.Range" DisabledDates=@IsDisabledDate DisabledTime=@IsDisabledTime TimeFormat="@("HH:mm")"/>
    </FormItem>

    <FormItem WrapperColSpan="8">
        <Button Type="@ButtonType.Primary" HtmlType="submit">
            @Loc["Create"]
        </Button>
    </FormItem>
</Form>


@code{

    [CascadingParameter]
    public Task<AuthenticationState>? authTask { get; set; }

    private class ReservationMixin {
        [Required]
        public T? BE { get; set; }

    // We are using Annotation to make the form validation work

        public (LocalDateTime, LocalDateTime) Range { get; set; }
    }


    private ReservationMixin _reservationMixin = new();
    private DisabledDateTimesStore _disabledDateTimesStore = DisabledDateTimesStore.Empty();

    private DatePickerDisabledTime IsDisabledTime(LocalDateTime dt) {
        return _disabledDateTimesStore.AsDatePickerDisabledTime(dt);
    }

    private T[]? _nonBrokenEntities;

    protected async override Task OnInitializedAsync() {
        var entities = await BorrowableEntityService.GetAllBorrowableEntitites<T>();
        _nonBrokenEntities = entities.Where(e => e.Status != Status.Broken).ToArray();
        await base.OnInitializedAsync();
    }

    private bool IsDisabledDate(LocalDate dt) {
        return dt < Loc.NowInTimeZone.LocalDateTime.Date || _disabledDateTimesStore.DisabledDate(dt);
    }

    private async Task ChangeDisabled(T selectedBE) {
        var reservations = await ReservationsService.GetUpcomingReservationsByEntityAsync(selectedBE);
        _disabledDateTimesStore = DisabledDateTimesStore.FromNodaRanges(reservations.Select(r => (r.Start.InZone(Loc.TimeZone).LocalDateTime, r.End.InZone(Loc.TimeZone).LocalDateTime)));
        
        
    }

    private async Task CreateReservationAsync(ReservationMixin reservationMixin) {
        if (authTask == null) {
            MessageService.Error(Loc["User not logged in"]).FireAndForget();
            return;
        }
        var authState = await authTask;
        await MessageService.GenericOnDBError(Loc, async () => {
            await ReservationsService.CreateReservationAsync(reservationMixin.Range.Item1.InZoneLeniently(Loc.TimeZone).ToInstant(), reservationMixin.Range.Item2.InZoneLeniently(Loc.TimeZone).ToInstant(), authState.User, reservationMixin.BE!);
            MessageService.Success(Loc["Reservation created"]).FireAndForget();
            _reservationMixin = new();
        });
    }

}









