@page
@using App.Data.ServiceInterfaces
@using App.Areas.Manage.Pages.Account.Manage
@model App.Areas.Manage.Pages.Account.Manage.ChangePasswordModel
@inject ILocalizationService Loc
@{
    ViewData["Title"] = "Change Password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h3>@Loc[ViewData["Title"]]</h3>
<partial for="StatusMessage" name="_StatusMessage"/>
<div class="row">
    <div class="col-md-6">
        <form class="d-flex flex-column gap-2" id="change-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input aria-required="true" asp-for="Input.OldPassword" autocomplete="current-password" class="form-control"/>
                <label asp-for="Input.OldPassword" class="form-label">
                    @Loc["Current Password"]
                </label>
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input aria-required="true" asp-for="Input.NewPassword" autocomplete="new-password" class="form-control"/>
                <label asp-for="Input.NewPassword" class="form-label">
                    @Loc["New Password"]
                </label>
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input aria-required="true" asp-for="Input.ConfirmPassword" autocomplete="new-password" class="form-control"/>
                <label asp-for="Input.ConfirmPassword" class="form-label">
                    @Loc["Confirm Password"]
                </label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button class="btn btn-lg btn-primary w-100" type="submit">@Loc["Update Password"]</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}