@page
@using App.Data.ServiceInterfaces
@using App.Areas.Manage.Pages.Account.Manage
@model App.Areas.Manage.Pages.Account.Manage.PersonalDataModel
@inject ILocalizationService Loc
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@Loc[ViewData["Title"]]</h3>

<div class="row">
    <div class="col-md-6">
        <p>@Loc["Your account contains personal data that you have given us. This page allows you to download or delete that data."]</p>
        <p>
            <strong>@Loc["Deleting this data will permanently remove your account, and this cannot be recovered."]</strong>
        </p>
        <div class="d-flex flex-column gap-2">
            <form asp-page="DownloadPersonalData" id="download-data" method="post">
                <button class="btn btn-primary" type="submit">@Loc["Download"]</button>
            </form>
            <p>
                <a asp-page="DeletePersonalData" class="btn btn-danger" id="delete">@Loc["Delete"]</a>
            </p>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}